.bg {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html {
    height: 100%;
    margin: 0;
  }
  .row
  {
    background: white;
    border-radius: 30px;
    box-shadow: rgb(175, 140, 126);
  }
  img
  {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 100% \9;
    height: auto;
    /* padding-bottom: 10px; */

  }
  /* .h1 
  {
    font-family: "Times New Roman", Times, serif;
  } */
  
  .btn-1{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }
  .btn-1:hover{
    background: white;
    border:1px solid;
    color:black
  }