{% extends 'main.html' %}
{% block title %} Lunch {% endblock %}

{% block content %}
<div style="background-color: lavender;">
<div class="container my-4">
    <div class="row">
        <div class="row  row-cols-lg-4 row-cols-sm-2 g-4">
            {% for f in food_lunch %}
            <div class="card">
                <div class="product">
                    <br>
                    <h4><strong>{{f.fname}}</strong></h4>
                    <img src="{{f.fimage.url}}" class="card-img-top"  alt="...">
                    <hr>
                    <a href={% url 'add_to_cart_lunch' f.food_id %}>
                        <button class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button></a>
                    <h4 style="float: right"><strong>{{f.price}}</strong></h4>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}